<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Ezequiel Aguirre. Comencé en la programación a principios del año
      2021. A mediados de septiembre del mismo año, decidí <strong
        >enfocarme totalmente en aprender el desarrollo web.</strong
      >
    </p>
    <p>
      Mayormente autodidacta, completé el bootcamp gratuito en fullstackopen,
      donde aprendí lo básico de <strong>ReactJS</strong>. A partir de esto,
      decidí aprender el
      <strong>Framework NextJS</strong>, concentrándome en comprender diferentes
      tipos de implementaciones sin utilizar más librerías de terceros.
    </p>
    <p>
      Gracias a esto, pude conseguir mi <strong
        >primer trabajo como Desarrollador Front-end</strong
      > en la empresa <strong>MContigo</strong>. En este puesto, pude contribuir
      en distintos proyectos pertenecientes a la empresa, incluyendo
      herramientas de uso interno.
    </p>
    <p>
      Actualmente me encuentro en busca de mi próximo empleo, mientras me
      mantengo al tanto de las nuevas características de <strong
        >ReactJS/NextJS</strong
      > y aprendiendo a utilizar <strong>Astro</strong>.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/hero.webp"
    alt="Aguirre Ezequiel"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
