---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Junio 2022 - Octubre 2023",
    title: "Desarrollador Front-end",
    company: "MContigo",
    description:
      "Mi primer trabajo como Desarrollador Front-end, en el cual contribuí en varios proyectos de la empresa, desde herramientas de uso interno hasta un proyecto con millones de visitas diarias y publicado en más de diez idiomas. Lamentablemente, el equipo al cual pertenecía fue desarmado.",
  },
  {
    date: "Septiembre 2021 - Julio 2022",
    title: "Freelance",
    company: "Self-employed",
    description:
      "Trabajando en pequeños para mejorar mis conocimientos sobre el desarrollo web. Desarrollador y mantenedor del proyecto Fullstack ReventandoOtrosMundos",
    link: "https://reventandootrosmundos.vercel.app",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
