---
import ExperienceItem from "./ExperienceItem.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const EXPERIENCIE = [
  {
    date: t("exp[2].date"),
    title: t("exp[2].title"),
    company: t("exp[2].company"),
    description: t("exp[2].description"),
  },
  {
    date: t("exp[1].date"),
    title: t("exp[1].title"),
    company: t("exp[1].company"),
    description: t("exp[1].description"),
  },
  {
    date: t("exp[0].date"),
    title: t("exp[0].title"),
    company: t("exp[0].company"),
    description: t("exp[0].description"),
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
